---
layout: layouts/author.njk
authorId: james-obrien
permalink: /about/authors/james-obrien/
title: "James O'Brien, CPA – Tax Adviser at CalcPhi"
description: "James O'Brien is a CPA and registered tax agent who verifies CalcPhi's Australian income tax, capital gains, PAYG withholding, and HECS-HELP calculator methodologies."
breadcrumbs:
  - name: Home
    url: /
  - name: About
    url: /about/
  - name: Authors
    url: /about/authors/
  - name: James O'Brien
---
