---
layout: layouts/author.njk
authorId: deepa-krishnan
permalink: /about/authors/deepa-krishnan/
title: "Deepa Krishnan, CFP – Retirement & Fixed Income Specialist at CalcPhi"
description: "Deepa Krishnan is a CFP with 8 years of experience in retirement planning, NPS, PPF, and fixed-income instruments for Indian retail investors."
breadcrumbs:
  - name: Home
    url: /
  - name: About
    url: /about/
  - name: Authors
    url: /about/authors/
  - name: Deepa Krishnan
---
