---
layout: layouts/author.njk
authorId: james-obrien
permalink: /australia/authors/james-obrien/
title: "James O'Brien, CPA – Tax Adviser at CalcPhi Australia"
description: "James O'Brien is a CPA and registered tax agent who verifies CalcPhi's Australian income tax, CGT, PAYG withholding, and HECS-HELP calculator methodologies."
breadcrumbs:
  - name: Home
    url: /
  - name: Australia
    url: /australia/
  - name: Authors
    url: /australia/authors/
  - name: James O'Brien
---
